.sentence-animation span {
	opacity: 0;
	display: inline-block;
	animation: reveal 1s forwards, 0.5s ease-in-out infinite alternate;
  }
  
  @keyframes reveal {
	to {
	  opacity: 1;
	}
  }
  
  @keyframes bounce {
	to {
	  transform: translateY(-5px);
	}
  }