
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 
}


.navbar-nav .nav-link:hover {
  color: orange; 
  
  /* Change color on hover */
}

/* Additional styles for phone and email buttons */

.text-container h1{
  color: #FFD500;
 font-weight: bold;
 font-family: 'Anton', sans-serif;
 
  
}

.wel{
  margin-top: 10px;
  color:#1b0fcb;
}

#welcome {
  background-color: #f8f8f8;
  padding: 40px 0;
  margin: 50px;
  padding: 6rem;
}
.Link{
  color: black;
  font-size: 15px;
  text-decoration: none;
}





 

#about{
  background-color:rgb(166, 201, 237) ;
}
.about{
  color: rgb(255, 252, 252);
}
.about-content{
  color: ;
  font-size: 20px;
  padding: 20px;
  width: 100%;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.skill {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s, transform 1s;
  padding: 20px;
  border-radius: 4px;
}

.skill:nth-child(odd) { color: #f61414; font-weight: bold; font-size: 20px;}
.skill:nth-child(even) {  color: #0725ce; font-weight: bold;font-size: 20px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-20px); }
}

.skill.fade-in {
  opacity: 1;
  transform: translateX(0);
}
.skills{
  color: darkblue;
}
#skill{
  font-size: 20px;
  color: rgb(100, 99, 99);
  margin-right: 20px;
  padding: 20px;
  text-align: center;
}
.ski-container{
  background-color: #e4d9ff;

}
.form-container{
  width: 450px;
}


  .contact-container{
    background-color: #30343f;
  }
  .contact{
    color: darkorange;
  }
  .contacts{
    color: #dce1de;
    text-align: center;
    font-size: 20px;
  }
  .contact-container {
    text-align: center;
}

.icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}
.glow-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
  transition: box-shadow 0.3s ease-in-out;
}

.glow-button:hover {
  box-shadow: 0 0 20px rgba(52, 152, 219, 1);
}

@keyframes glowing {
  0% { box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); }
  50% { box-shadow: 0 0 20px rgba(52, 152, 219, 1); }
  100% { box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); }
}
  